<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--   이 파일이 감고있는 SQL문들 집합의 고유한 이름을 namespace 속성값으로 설정 -->
<!--   일반적으로 이 SQL문들을 실행할 때 사용할 DAO인터페이스 이름을 지정 -->
<mapper namespace="com.exam.member.MemberDao">
	<!-- 등록할 SQL문과 동일한 이름의 태그를 사용하여 SQL을 등록 -->
	<!-- 이 파일 내에서 해당 SQL문의 고유한 이름을 id 속성값으로 설정 -->
	<!-- 일반적으로 이 SQL문을 실행할 때 사용할 DAO인터페이스의 메서드 이름을 지정 -->
	<!-- select 실행 결과의 한 행(row)를 담을 객체의 클래스명을 resultType 속성에 설정 -->
  <select id="selectMemberList" resultType="com.exam.member.MemberVo">
    SELECT mem_ID as memId, MEM_PASS as memPass, MEM_NAME as memName, MEM_POINT as memPoint
    FROM MEMBER
    ORDER BY mem_Id
  </select>
  
</mapper>