<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>exweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 톰캣에 com.exam.ex.ByServlet 객체를 bye라는 이름의 서블릿으로 등록 -->
  <servlet>
  	<servlet-name>bye</servlet-name>
  	<servlet-class>com.exam.ex.ByServlet</servlet-class>	<!-- 파일 위치(경로) -->
  </servlet>
  <!-- "/bye.do" 파일에 대한 요청이 오면, bye 라는 이름으로 등록된 서블릿을 실행 -->
  <servlet-mapping>
	<servlet-name>bye</servlet-name>
 	<url-pattern>/bye.do</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
  	<servlet-name>foo</servlet-name>
  	<servlet-class>com.exam.ex.HiServlet2</servlet-class>	<!-- 파일 위치(경로) -->
  </servlet>
  <!-- "/bye.do" 파일에 대한 요청이 오면, bye 라는 이름으로 등록된 서블릿을 실행 -->
  <servlet-mapping>
	<servlet-name>foo</servlet-name>
 	<url-pattern>/foo/bar.do</url-pattern>	<!-- 크롬에서 이걸 요청하면 위에 있는걸 가지고 와라 -->
  </servlet-mapping>
  
  
</web-app>
